---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Layout from "../Layouts/Layout.astro";
import IconBtn from "../components/IconBtn.astro";
import Globe from "../components/Globe.svelte";

import MeIcon from "../assets/MeIcon.webp";

type Social = "GitHub"
    | "LinkedIn"
    | "Reddit"
    | "Discord"
    | "Stackoverflow"
    ;
type SocialIcon = {
    name: Social;
    icon: "bxl:github"
        | "bxl:linkedin-square"
        | "bxl:reddit"
        | "bxl:discord"
        ;
};
type SocialLink = {
    name: Social;
    url: "https://github.com/VicenteVieraG"
        | "https://www.linkedin.com/in/vicentejvg"
        | "https://stackoverflow.com/users/13344376/plantedcoot706"
        ;
};

const socialsIcons: ReadonlyArray<SocialIcon> = [
    {name: "GitHub",    icon: "bxl:github"},
    {name: "LinkedIn",  icon: "bxl:linkedin-square"},
    {name: "Reddit",    icon: "bxl:reddit"},
    {name: "Discord",   icon: "bxl:discord"}
];
const socialsURL: ReadonlyArray<SocialLink> = [
    {name: "GitHub",        url: "https://github.com/VicenteVieraG"},
    {name: "LinkedIn",      url: "https://www.linkedin.com/in/vicentejvg"},
    {name: "Stackoverflow", url: "https://stackoverflow.com/users/13344376/plantedcoot706"}
];
---

<Layout title="Vicente Javier Viera Guízar">
    <!-- Presentation -->
    <section
        class="min-h-60 overflow-hidden grid place-content-between gap-5 relative z-0 sm:col-span-3 sm:grid-cols-2 md:min-h-80">
        <div>
            <small>Welcome :D</small>
            <p class="text-xl">
                Hi! I am <b>Vicente Javier Viera Guízar</b>, a software
                developer with strong focus in Computer Graphics and software
                efficiency.
            </p>
        </div>
        <div
            id="Contact"
            class="w-fit flex flex-wrap gap-4 order-last self-end">
                {socialsIcons.map(social => <IconBtn name={social.icon} title={social.name} size={36}/>)}
        </div>
        <Image
            src={MeIcon}
            alt="Me in IPhon Style portrait"
            format="webp"
            quality="max"
            width="300"
            height="300"
            class="absolute right-[-110px] bottom-[-20px] opacity-50 -z-10 sm:opacity-100 sm:static sm:justify-self-center sm:row-span-2"
        />
    </section>
    <!-- About Me -->
    <section
        class="text-sm flex flex-col justify-around gap-2 sm:text-base sm:row-span-2">
        <h1>About me</h1>
        <p>
            Hi! I am Vicente, a front-end and computer graphics ingeneer from
            México.<br />My primary technologies include:
        </p>
        <ul role="list" class="list-disc list-inside marker:text-select-color">
            <li>TypeScript/JavaScript</li>
            <li>Tailwind</li>
            <li>Astro</li>
            <li>Node.js</li>
            <li>C++</li>
            <li>CMake</li>
        </ul>
        <p>
            Beyond coding I am passionate about playing piano, videogames, manga
            and reading about philosophy.
        </p>
        <p>
            While I have some preferred tools, I always choose the best one for
            the job, even if it's not on my usual list. My goal is to find the
            right solution for each project always focusing in efficiency.
        </p>
    </section>
    <!-- Let's Start Working Together -->
    <section class="flex flex-col justify-between gap-4">
        <div><h1>Let's start working together!</h1></div>
        <div>
            <small>Contact details</small>
            <p>vicentejvg@outlook.com</p>
            <i>México</i><br />
        </div>
        <div>
            <small>Socials</small>
            <ul>
                {socialsURL.map(social => <li><a href={social.url}>{social.name}</a></li>)}
            </ul>
        </div>
    </section>
    <section class="">Time Zone</section>
    <section class="">Now</section>
    <section class="">Playground</section>
    <!-- Globe map -->
    <section class="group relative p-12">
        <a class="size-full px-3 flex justify-between absolute inset-0 overflow-hidden" href="globeView">
            <h2 class="text-black text-lg font-semibold my-auto relative z-10">Countries I have visited</h2>
            <Icon
                class= `                                \
                    text-Spurple my-auto relative       \
                    transition ease-out duration-100    \
                    z-10                                \
                    group-hover:text-select-color group-hover:translate-x-2 group-hover:-translate-y-1`
                name="ri:arrow-right-up-line"
                size={16}
            />
            <Globe inCard client:visible />
        </a>
    </section>
    <section class="">colors</section>
    <section class="">credits</section>
</Layout>

<script>
    const socialLinks: ReadonlyArray<string> = [
        "https://github.com/VicenteVieraG",
        "https://www.linkedin.com/in/vicentejvg",
        "https://www.reddit.com/user/plantedcoot706/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button",
        "http://discordapp.com/users/505541264238968832"
    ];
    const contacts: HTMLCollection = document.getElementById("Contact")
        ?.children as HTMLCollection;

    socialLinks.map((link: string, index: number) =>
        contacts[index].addEventListener(
            "click",
            () => (window.location.href = link)
        )
    );
</script>

<!-- 
Icons by
https://github.com/atisawd/boxicons
-->
